<div class="container-fluid mootimetercontainer {{{containerclasses}}}">
    <div class="row">
        <div class="mootimetercol mootimetercolpages">
            {{#pages}}
                <div>
                    <span class="badge badge-primary mt-1">
                        {{sortorder}}
                    </span>
                    <a href="?id={{cmid}}&pageid={{pageid}}" class="btn border rounded" style="width: 150px">
                        <img src="{{{pix}}}" width="100%" style="margin: 0 auto;height: 40px">
                        <span>{{title}}</span>
                    </a>
                </div>
            {{/pages}}
            {{#isediting}}
                <a href="?id={{cmid}}&a=addpage" class="btn btn-success {{mootimetercard}} mootimeterpage">
                    {{#str}} addpage, mod_mootimeter {{/str}}
                </a>
            {{/isediting}}
        </div>

        {{#isediting}}
            <div class="mootimetercol mootimetercoledit">
                {{#settings}}
                    <div class="mootimetersettings mootimeterfullwidth">
                        {{{settings}}}
                    </div>
                {{/settings}}
            </div>
        {{/isediting}}

        <div class="mootimetercol mootimetercolcontent">
            {{#has_result}}
                <div>
                    <a href={{{redirect_result}}}>{{{redirect_string}}}</a>
                </div>
            {{/has_result}}
            {{{pagecontent}}}
        </div>
    </div>
</div>

{{#isediting}}
    {{#js}}
        require(['mod_mootimeter/edit'], (module) => module.init());
    {{/js}}
{{/isediting}}