<script src="{{config.wwwroot}}/mod/mootimeter/tools/wordcloud/js/wordcloud2.js"></script>
<div class="d-flex flex-wrap">
    <div class="mootimetercoledit mootimeter_textcenter">
        {{> mootimetertool_wordcloud/form_insert_answer}}
    </div>
  <div class="mootimetercolcontent">
    <div class="mootimeterfullwidth" id="wordcloudcanvas" style="margin: 10px; height:70vH">
    </div>
  </div>
</div>
